* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  height: 100vh;
}

.navBar {
  background-color: black;
  list-style-type: none;
  margin: 0;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  display: inline-block;
  padding: 0 50px;
}

li a {
  color: white;
  display: block;
  text-decoration: none;
  padding: 10px;
}

li a:hover {
  background-color: orange;
}

.externalHTML {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

iframe {
  border: 3px solid hotpink;
}

.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5rem;
}

.content .image img {
  border-radius: 3%;
  border: 2px solid black;
}

.content .image {
  margin-right: 10rem;
  margin-bottom: 5rem;
}

.arialHotPink {
  font-family: 'Arial', sans-serif;
  background-color: hotpink;
  padding-top: 3.5rem;
}

.courierPink {
  font-family: 'Courier New', sans-serif;
  background-color: pink;
  padding-top: 3.5rem;
  overflow-wrap: break-word;
}

.corsivaLightPink {
  font-family: 'Corsiva', serif;
  background-color: lightpink;
  padding-top: 3.5rem;
}

button {
  margin-top: 3rem;
  margin-left: 8rem;
  padding: 10px 50px;
  border-radius: 8px;
  border: none;
  background-color: orange;
  color: white;
  font-size: bolder;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-align: center;
}
