* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.p1 {
  background-color: #b5d6b2;
}

.p2 {
  background-color: #53131e;
}

.p3 {
  background-color: #31393c;
}

.p4 {
  background-color: #2176ff;
}

.p5 {
  background-color: #fdca40;
}

.p6 {
  background-color: #33a1fd;
}

.p7 {
  background-color: #f79824;
}

.p8 {
  background-color: #97cc04;
}
